.card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  align-items: center;
  gap: 1rem;
  max-inline-size: 100%;
  background-color: var(--neutral-white);
  color: var(--neutral-grey-500);
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--shadow-elevation-high);
}

.card__image {
  block-size: 2rem;
  inline-size: auto;
  border-radius: 50%;
  border: 2px solid var(--neutral-grey-100);
}

.card__metadata-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  z-index: 1;
  block-size: 100%;
}

.card__title {
  color: color-mix(in hsl, currentColor 90%, transparent);
  font-size: 0.82rem;
  font-weight: 600;
  text-box: trim-both cap alphabetic;
}

.card__status {
  font-size: 0.7rem;
  text-box: trim-both cap alphabetic;
}

.card__content-wrapper {
  grid-column: span 2;
  z-index: 1;

  > * + * {
    margin-block-start: 1em;
  }
}

.card__content {
  color: color-mix(in hsl, currentColor 85%, transparent);
  font-size: 0.825rem;
  line-height: 1.15rem;
}

.card__content-highlight {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.card__bg-quotations {
  position: absolute;
  display: none;
  block-size: 6.5rem;
  inset-block-start: 0;
  inset-inline-end: 3.75rem;

  @media (width >= 42rem) {
    display: block;
  }
}

.card__image--daniel {
  border: 2px solid var(--primary-purple-300);
}

.card__image--patrick {
  border: 2px solid var(--primary-purple-300);
}
