#root {
  min-block-size: 100svh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--neutral-grey-100);
  gap: 4.5rem;
  padding-inline: 2.1rem;
  padding-block-start: 4.5rem;
  padding-block-end: 0.5rem;
}
